.App {
  /* min-height: 100vh; */
}
.App::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://pic3.zhimg.com/v2-1a00b23d760c54b64d3030061275cbed_r.jpg?source=1940ef5c');
  background-size: cover;
  filter: blur(3px) grayscale(30%);
  z-index: -1;
}

.App > * {
  z-index: 1;
}
